totem {
	version: 2
	cluster_name: pacemaker
	crypto_cipher: none
	crypto_hash: none
}

logging {
	fileline: off
	to_stderr: yes
	to_logfile: yes
	logfile: /var/log/corosync/corosync.log
	to_syslog: yes
	debug: off
	logger_subsys {
		subsys: QUORUM
		debug: off
	}
}

quorum {
	provider: corosync_votequorum
  two_node: 1
}

nodelist {

{% for host in ansible_play_hosts_all %}
node {
   name: {{ hostvars[host].inventory_hostname }}
   nodeid: {{ loop.index }}
   ring0_addr: {{ hostvars[host].ansible_default_ipv4.address }}
}
{% endfor %}
}
